#Android generated
bin
gen
lint.xml


#Eclipse
.project
.classpath
.settings
.checkstyle

#Maven
target
release.properties
pom.xml.*

#Ant
build.xml
ant.properties
local.properties
proguard.cfg
proguard-project.txt

#Other
.DS_Store
#svn
.svn

# Android Studio
.idea/
.gradle
gradle
/*/local.properties
/*/out
/*/*/build
/*/*/production
*.iml
*.iws
*.ipr
*~
*.swp
/gradlew.bat
/gradlew
build
